<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <style>
            table, th, td {
                border: 1px black solid;
            }
        </style>
    </head>
    <body>
        {% include 'header.html' %}
        <h2>User {{ user.id }} </h2>
        <p style="color:darkred">{{ errorMsg }}</p>
        <!-- TABLE WITH USER INFO -->
        <table>
            <thead>
                <th>Field</th>
                <th>Value</th>
            </thead>
            <tr>
                <td>id</td>
                <td> {{ user.id }} </td>
            </tr>
            <tr>
                <td>is_owner</td>
                <td> {{ user.is_owner }} </td>
            </tr>
            <tr>
                <td>is_sitter</td>
                <td> {{ user.is_sitter }} </td>
            </tr>
            <tr>
                <td>full_name</td>
                <td> {{ user.full_name }} </td>
            </tr>
            <tr>
                <td>email</td>
                <td> {{ user.email }} </td>
            </tr>
            <tr>
                <td>phone_number</td>
                <td> {{ user.phone_number }} </td>
            </tr>
            <tr>
                <td>password_hash</td>
                <td> {{ user.password_hash }} </td>
            </tr>
        </table>
        <!-- TABLE WITH LISTINGS -->
        {% if user.is_sitter: %}
        <br><hr><br>
        <table>
            <thead>
                <tr><th colspan="1000">All Listings</th></tr>
                <tr>
                    <th>ID</th>
                    <th>Pet Name</th>
                    <th>Pet Type</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Full Time?</th>
                    <th>Zip Code</th>
                    <th>Activities</th>
                    <th>Extra Info</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(all_listings_len): %}
                <tr>
                    <td> {{ all_listings[i].id }} </td>
                    <td> {{ all_listings[i].pet_name }} </td>
                    <td> {{ all_listings[i].pet_type }} </td>
                    <td> {{ all_listings[i].start_time }} </td>
                    <td> {{ all_listings[i].end_time }} </td>
                    <td> {{ all_listings[i].full_time }} </td>
                    <td> {{ all_listings[i].zip_code }} </td>
                    <td> {{ all_listings[i].activities }} </td>
                    <td> {{ all_listings[i].extra_info }} </td>
                    <td><a href="/listings/accept/{{ all_listings[i].id }}">Accept</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        <!-- owner user -->
        {% if user.is_owner: %}
        <br><hr><br>
        <a href="/users/{{ user.id }}/listings/new"><button>Make New Listing</button></a>
        <br><br>
        <table>
            <thead>
                <tr><th colspan="1000">My Listings</th></tr>
                <tr>
                    <th>ID</th>
                    <th>Pet Name</th>
                    <th>Pet Type</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Full Time?</th>
                    <th>Zip Code</th>
                    <th>Activities</th>
                    <th>Extra Info</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for i in range(listings_len): %}
                <tr>
                    <td> {{ listings[i].id }} </td>
                    <td> {{ listings[i].pet_name }} </td>
                    <td> {{ listings[i].pet_type }} </td>
                    <td> {{ listings[i].start_time }} </td>
                    <td> {{ listings[i].end_time }} </td>
                    <td> {{ listings[i].full_time }} </td>
                    <td> {{ listings[i].zip_code }} </td>
                    <td> {{ listings[i].activities }} </td>
                    <td> {{ listings[i].extra_info }} </td>
                    <td><a href="/listings/update/{{ listings[i].id }}">Update</a> |
                        <a href="/listings/delete/{{ listings[i].id }}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </body>
</html>