div.top-container {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

div.filler {
    flex-grow: 1;
}

h5 {
    display: inline-block;
    margin-right: 0.2em;
}

h4 {
    text-align: center;
    margin: 0.35em 0.6em;
    /* flex-grow: 1; */
    display: inline-block;
}

div.filters {
    margin-right: 0.8em;
}

#filter-form {
    display: inline-block;
}

.filter-button .dropdown.dropdown {
    z-index: 1000000;
}

#map-view {
    width: 100%;
    /* height: 550px; */
    height: 80vh;

}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color: #b46fe8;
}

.leaflet-popup-content.leaflet-popup-content.leaflet-popup-content.leaflet-popup-content {
    margin: 0px;
}

.leaflet-popup-content .content {
    font-size: 1.5em;
    cursor: pointer;
}

.leaflet-popup-content .flex-popup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.leaflet-popup-content .flex-popup .description {
    margin: 1.3em 0.3em 1.3em 1.1em;
}

.leaflet-popup-content .flex-popup .time {
    white-space: nowrap;
}

.leaflet-popup-content .flex-popup .activities {
    white-space: normal;
}

.leaflet-popup-content .flex-popup .background {
    width: 7.32143em;
    height: 7.32143em;
    position: relative;
    flex: 0 0 auto;
    margin-right: 1.25em;

    border-radius: 50%;
    background: #5680E9;
}

.leaflet-popup-content .flex-popup .background > img {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 1em;

    margin-top: -2.741em;
    margin-left: -2.741em;
    width: 5.48201em;
    height: 5.48201em;
}

.leaflet-popup-content .flex-popup .background > img.dog {
    margin-top: -2.7715em;
    margin-left: -2.7715em;
    width: 5.5429em;
    height: 5.5429em;
}

.leaflet-popup-content .flex-popup .background > img.rodent, .leaflet-popup-content .flex-popup .background > img.other {
    margin-top: -2.9474em;
    margin-left: -2.9474em;
    width: 5.8948em;
    height: 5.8948em;
}

.leaflet-popup-content .flex-popup .background > img.bird {
    margin-top: -2.8595em;
    margin-left: -2.8595em;
    width: 5.7189em;
    height: 5.7189em;
}

.leaflet-popup-content .flex-popup .background > img.reptile {
    margin-top: -3.0354em;
    margin-left: -3.0354em;
    width: 6.0708em;
    height: 6.0708em;
}

/* For images */
.leaflet-popup-content .flex-popup .background > div[class$="-image"] {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1em;

    margin-left: -3.660715em;
    margin-top: -3.660715em;
    width: 7.32143em;
    height: 7.32143em;
    border-radius: 50%;
    
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}