h3 {
    margin-top: 0px;
}

.listing-form-container.dropdown-container {
    position: relative;
}

input[type=text].filter {
    padding-left: 0.6em;
    text-align: left;
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    line-height: 2em;

    background:#FFFFFF;
    color: #000000;

    border: 3px solid #C1C8E4;
}

