.listing-details-container {
    width: 100%;
    flex-grow: 1;

    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;

    font-size: 1.625rem; /* Typically, 1rem = 16px */
    line-height: 1.25em;

    color: #858585;
    mix-blend-mode: multiply;
}

.listing-details-container.vertical {
    flex-direction: column;
    align-self: flex-start;
}

/* FOR OWNER PORTRAITS (on the left of the page) */

.listing-details-container .small-portrait {
    position: relative;
    margin-right: 3.2857em;
    font-size: 1em;
}

.listing-details-container .small-portrait .background {
    width: 8.32143em;
    height: 8.32143em;
    position: relative;

    border-radius: 50%;
    background: #5680E9;
}

/* For images */
.listing-details-container .small-portrait .background div[class$="-image"] {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1em;

    margin-left: -4.160715em;
    margin-top: -4.160715em;
    width: 8.32143em;
    height: 8.32143em;
    border-radius: 50%;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* For silhouettes */
.listing-details-container .small-portrait .background img {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 1em;
    
    /* Default sizing (different sizes are listed below) */
    margin-top: -3.1154em;
    margin-left: -3.1154em;
    width: 6.23077em;
    height: 6.23077em;
}

.listing-details-container .small-portrait .background img.dog {
    margin-top: -3.15em;
    margin-left: -3.15em;
    width: 6.3em;
    height: 6.3em;
}

.listing-details-container .small-portrait .background img.rodent {
    margin-top: -3.35em;
    margin-left: -3.35em;
    width: 6.7em;
    height: 6.7em;
}

.listing-details-container .small-portrait .background img.bird {
    margin-top: -3.25em;
    margin-left: -3.25em;
    width: 6.5em;
    height: 6.5em;
}


.listing-details-container .small-portrait .background img.reptile {
    margin-top: -3.45em;
    margin-left: -3.45em;
    width: 6.9em;
    height: 6.9em;
}


.listing-details-container .small-portrait .background img.other {
    margin-top: -3.35em;
    margin-left: -3.35em;
    width: 6.7em;
    height: 6.7em;
}

.listing-details-container .small-portrait .pet-type {
    display: block;
    margin: 0.325em auto 0 auto;
    text-align: center;

    font-size: 1.7em;
    line-height: 1.20833em;
    color: #5680E9;
}

.listing-details-container .small-portrait .pet-type.amphibian {
    margin-top: 0.4615375em;

    font-size: 1.375em;
    line-height: 1.20833em;
}

.listing-details-container .details {
    flex-grow: 1;   
}

.listing-details-container div .header {
    margin-bottom: 0.14286em;

    font-size: 2.2857em;
    line-height: 1.2031em;
    color: #5680E9;
}

.listing-details-container div .header .name {
    margin-right: 0.25em;
}

.listing-details-container .details .header .icons {
    display: inline-flex;
    align-items: center;
}

.listing-details-container .details .header img {
    width: 0.90625em;
    height: 0.90625em;

    margin-right: 0.2em;

    font-size: 1em;
}

.listing-details-container .details .body {
    display: inline-block; /* Otherwise margin collapsing occurs */
    margin-top: 0.225em;
}

.listing-details-container .details .body span {
    display: block;
    margin: 0 0 0.7em 0;

    font-size: 1em;
}

.listing-details-container .details .body span.no-wrap {
    margin-right: 8em;
}

.listing-details-container .volunteers-container {
    margin-left: 3em;
    padding-right: 1.25em;

    font-size: inherit;
    line-height: inherit;
}

.listing-details-container .volunteers-container .header {
    margin-right: 1em;
}

.listing-details-container .volunteers-container .volunteer-list {
    display: inline-block;
}

.listing-details-container .volunteer-list .volunteer:first-child {
    margin-top: 0.5em;
}

.listing-details-container .volunteers-container .volunteer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 1em;
}

.listing-details-container .volunteers-container .volunteer .user-icon {
    width: 2.5em; /* 2x LINE HEIGHT (since there are two lines) */
    height: 2.5em;

    margin-right: 0.6em;
}

.listing-details-container .volunteers-container .volunteer .contact-info {
    white-space: nowrap;
}

/* FOR SITTER PORTRAITS (on the right of the page) */

.content-container .big-portrait {
    position: relative;
    box-sizing: content-box;
    padding-right: 1em;
    margin-left: 3em;
    font-size: 2.7479em;
    text-align: center;

    align-self: center;
}

.content-container .big-portrait .background {
    width: 8.32143em;
    height: 8.32143em;
    position: relative;

    border-radius: 50%;
    background: #5680E9;
}

/* For images */
.content-container .big-portrait .background div[class$="-image"] {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1em;

    margin-left: -4.160715em;
    margin-top: -4.160715em;
    width: 8.32143em;
    height: 8.32143em;
    border-radius: 50%;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* For silhouettes */
.content-container .big-portrait .background img {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 1em;
    
    /* Default sizing (different sizes are listed below) */
    margin-top: -3.1154em;
    margin-left: -3.1154em;
    width: 6.23077em;
    height: 6.23077em;
}

.content-container .big-portrait .background img.dog {
    margin-top: -3.15em;
    margin-left: -3.15em;
    width: 6.3em;
    height: 6.3em;
}

.content-container .big-portrait .background img.rodent {
    margin-top: -3.35em;
    margin-left: -3.35em;
    width: 6.7em;
    height: 6.7em;
}

.content-container .big-portrait .background img.bird {
    margin-top: -3.25em;
    margin-left: -3.25em;
    width: 6.5em;
    height: 6.5em;
}


.content-container .big-portrait .background img.reptile {
    margin-top: -3.45em;
    margin-left: -3.45em;
    width: 6.9em;
    height: 6.9em;
}


.content-container .big-portrait .background img.other {
    margin-top: -3.35em;
    margin-left: -3.35em;
    width: 6.7em;
    height: 6.7em;
}

.content-container .big-portrait .pet-type {
    display: block;
    margin: 0.5495em auto 0 auto;
    text-align: center;

    font-size: 1em;
    line-height: 1.20833em;
    color: #5680E9;
}

.content-container .big-portrait .pet-type.amphibian {
    margin-top: 0.4615375em;

    font-size: 0.8131em;
    line-height: 1.20833em;
}

.content-container .big-portrait .big-button {
    margin-top: 0.5em;
}