.listing-form-container {
    font-size: 1.625rem; /* Typically, 1rem = 16px */
}

.listing-form-table {
    white-space: nowrap;
}

.listing-form-table td {
    border-bottom: 0.35em transparent solid;
}

.listing-form-table td:first-child {
    border-right: 1.5em transparent solid;
}

.listing-form-table .secondary-label {
    padding-right: 0;
    border-right: 0;
}

.listing-form-table input[type=text] {
    width: 8.5em;
}

.listing-form-table label.radio:not(:last-child), .listing-form-table label.checkbox:not(:last-child) {
    margin-right: 1.25em;
}

.listing-form-table #pet_name {
    width: 100%;
    box-sizing: border-box;
}

.listing-form-table #extra_info {
    white-space: normal;
    width: 100%;
    box-sizing: border-box;
}

.listing-form-table .submit-cell {
    padding-left: 1.5em;
    vertical-align: middle;
}

/* For address search input */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.ap-dropdown-menu {
    font-size: 1rem;
    width: 35em;
}
input[type=search].address_input.address_input {
    font-size: 1rem;
}
.listing-form-table input[type=search] {
    width: 15.25em;
}
.ap-icon-clear, .ap-icon-pin {
    display: none;
}