<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {% include 'components/links.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/listing_details.css') }}">
    </head>
    <body>
        {% include 'components/header.html' %}
        {% include 'components/background.html' %}

        <div class="content-container standard vertical">
            <h4>
                <a href="{{ url_for('home') }}"
                    class="regular-text">&lt; return home</a>
            </h4>
            <br>
            <div class="listing-details-container">
                <div class="small-portrait">
                    <div class="background">
                        <img class="{{ listing.pet_type.lower() }}"
                            src="{{ url_for('static', filename='img/portrait/{0}.png'.format(listing.pet_type.lower())) }}">
                    </div>
                    <div class="pet-type {{ listing.pet_type.lower() }}">{{
                        listing.pet_type.upper()      
                    }}</div>
                </div>
            </div>
        </div>

        {% include 'components/footer.html' %}
    </body>
</html>