<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {% include 'components/links.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/listing_new.css') }}">
    </head>
    <body>
        {% include 'components/header.html' %}
        {% include 'components/background.html' %}

        <div class="content-container standard vertical">
            <h4>
                <a href="{{ url_for('home') }}"
                    class="regular-text">&lt; return home</a>
            </h4>
            
            <h3>What Does Your Pet Require?</h3>
            <div class="listing-form-container">
                <form class="listing-form" action="{{ url_for('listing_create') }}" 
                    method="post" id="listing_form">
                    <table class="listing-form-table">
                        <tr>
                            <td>
                                <label for="pet_name">
                                    Name of Pet:
                                </label>
                            </td>
                            <td colspan="2">
                                <input type="text" id="pet_name" name="pet_name">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="start_date">
                                    Start Date:
                                </label>
                            </td>
                            <td>
                                <input type="text" placeholder="MM/DD/YYYY" name="start_date" id="start_date"> 
                            </td>
                            <td class="secondary-label">
                                <label for="start_time">
                                    Start Time:
                                </label>
                            </td>
                            <td>
                                <input type="text" placeholder="HH:MM" name="start_time" id="start_time">
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                <label for="end_date">
                                    End Date:
                                </label>
                            </td>
                            <td>
                                <input type="text" placeholder="MM/DD/YYYY" name="end_date" id="end_date"> 
                            </td>
                            <td class="secondary-label">
                                <label for="end_time">
                                    End Time:
                                </label>
                            </td>
                            <td>
                                <input type="text" placeholder="HH:MM" name="end_time" id="end_time">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>
                                    Pet Type:
                                </label>
                            </td>
                            <td colspan="1000">
                                {% for pet_type in pet_types: %}
                                    <label class="radio" for="pet_type_{{ pet_type.lower().replace(' ', '_') }}">
                                        <input type="radio" id="pet_type_{{ pet_type.lower().replace(' ', '_') }}" 
                                            name="pet_type" value="{{ pet_type }}"> 
                                        <span class="checked"></span>
                                        {{ pet_type }}
                                    </label>
                                {% endfor %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label>
                                    Activities:
                                </label>
                            </td>
                            <td colspan="1000">
                                {% for activity in activities: %}
                                    <label class="checkbox" for="activity_{{ activity.lower().replace(' ', '_') }}">
                                        <input type="checkbox" id="activity_{{ activity.lower().replace(' ', '_') }}" 
                                            name="activity_{{ activity.lower().replace(' ', '_') }}" value="true"> 
                                        <span class="checked"></span>
                                        {{ activity }}
                                    </label>
                                {% endfor %}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label for="zip_code">
                                    Zip Code:
                                </label>
                            </td>
                            <td>
                                <input type="text" id="zip_code" name="zip_code">
                            </td>
                        </tr>
                        <tr>
                            <td class="align-top">
                                <label for="extra_info">
                                    Description:
                                </label>
                            </td>
                            <td class="align-top" colspan="3">
                                <textarea type="text" id="extra_info" 
                                    placeholder="(optional) Tell us more about your pet!"
                                    rows="4" name="extra_info"
                                    form="listing_form"></textarea>
                            </td>
                            <td class="submit-cell">
                                <input class="form-button" type="submit" value="submit">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>

        {% include 'components/footer.html' %}
    </body>
</html>