<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {% include 'components/links.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/listing_details.css') }}">
    </head>
    <body>
        {% include 'components/header.html' %}
        {% include 'components/background.html' %}

        <div class="content-container standard vertical">
            <h4>
                <a href="{{ url_for('home') }}"
                    class="regular-text">&lt; return home</a>
            </h4>
            <br>
            <div class="listing-details-container">
                <div class="small-portrait">
                    <div class="background">
                        <img class="{{ listing.pet_type.lower() }}"
                            src="{{ url_for('static', filename='img/portrait/{0}.png'.format(listing.pet_type.lower())) }}">
                    </div>
                    <div class="pet-type {{ listing.pet_type.lower() }}">{{
                        listing.pet_type.upper()      
                    }}</div>
                </div>

                <div class="details">
                    <div class="header">
                        <!-- Figure out how to lock icons to same line and ideally only have margin if on same line as the pet name -->
                        <span class="name">
                            {{ listing.pet_name }}
                        </span>
                        <div class="icons">
                            <a href="{{ url_for('listing_delete', listing_id=listing.id) }}">
                                <img src="{{ url_for('static', filename='img/icon/trash-blue.png') }}">
                            </a>
                            <a href="{{ url_for('listing_update', listing_id=listing.id) }}">
                                <img src="{{ url_for('static', filename='img/icon/edit-blue.png') }}">
                            </a>
                        </div>
                    </div>
                    <span class="horizontal-line"></span>
                    <div class="body">
                        <span class="no-wrap">
                            <strong>START:</strong> {{ listing.start_time_repr() }}
                        </span>
                        <span class="no-wrap">
                            <strong>END:</strong> {{ listing.end_time_repr() }}
                        </span>
                        <span class="no-wrap">
                            <strong>ZIP CODE:</strong> {{ listing.zip_code }}
                        </span>
                        <span>
                            <strong>ACTIVITIES:</strong> {{ ', '.join(listing.activities) }}
                        </span>
                        <span>
                            <strong>DESCRIPTION:</strong> {{ listing.extra_info }}
                        </span>
                    </div>
                </div>

                <div class="volunteers-container">
                    <div class="header">
                        Volunteers
                    </div>
                    <span class="horizontal-line"></span>
                    <div class="volunteer-list">
                        {% for sitter in listing.sitters %}
                        <div class="volunteer">
                            <img class="user-icon"
                                src="{{ url_for('static', filename='img/icon/user-cyan.png') }}">
                            <div class="contact-info">
                                {{ sitter.full_name }}
                                <br>
                                {{ sitter.email }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% include 'components/footer.html' %}
    </body>
</html>