<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {% include 'components/links.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
        {% include 'components/header.html' %}

        <h3><a href="{{ url_for('owner_home', id=id) }}">< return home</a></h3>

        <h2>Update Listing</h2>
        <form action="/owner/{{ id }}/change/{{ listing_id }}" method="post" id="updatelisting">
            <table>
                <tr>
                    <td>Pet Name:</td>
                    <td style="text-align: left;">
                        <input type="text" name="pet_name" value="{{pet_name}}">
                    </td>
                </tr>
                <tr>
                    <td>Pet Type:</td>
                    <td style="text-align: left;">
                        <select form="updatelisting" name="pet_type" value="{{pet_type}}">
                            {% for i in range(pet_types_len): %}
                            <option {% if listing.pet_type == pet_types[i] %} selected {% endif %} value="{{ pet_types[i] }}">{{ pet_types[i] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Start Time:</td>
                    <td><input type="datetime-local" name="start_time" value="{{start_time}}"></td>
                </tr>
                <tr>
                    <td>End Time:</td>
                    <td><input type="datetime-local" name="end_time" value="{{end_time}}"></td>
                </tr>
                <tr>
                    <td>Full Time:</td>
                    <td style="text-align:left;">
                        <input type="checkbox" name="full_time" value="{{full_time}}" checked>
                    </td>
                </tr>
                <tr>
                    <td>Zip Code:</td>
                    <td style="text-align: left"><input type="text" name="zip_code" value="{{zip_code}}"></td>
                </tr>
                <tr>
                    <td>Activities:</td>
                    <td style="text-align: left">
                        {% for i in range(activities_len): %}
                        <input type="checkbox" name="activity-{{ activities[i] }}" value="True" {% if activities[i] in listing.activities %} checked {% endif %}>
                        {{ activities[i] }}
                        <br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td style="text-align: left"><input type="text" name="extra_info" value="{{extra_info}}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: left">
                        <input type="submit" value="Update">
                    </td>
                </tr>
            </table>
        </form>
        <hr>

        {% include 'components/background.html' %}
        {% include 'components/footer.html' %}
    </body>
</html>