/* ================= GENERAL STYLES ============== */

.spot-font {
    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
}

.spot-heading {
    text-align: center;
    color: #FFFFFF;
}

a.regular-text {
    color: inherit;
    text-decoration: inherit;
}

.circle {
    border-radius: 50%
}

/* ================= HEADER STYLES ============== */

.header-bar {
    position: fixed;
    width: 100%;
    height: 10.6667%;
    left: 0px;
    top: 0px;
    background: linear-gradient(270deg, #84CEEB 0%, #5AB9EA 34.9%, #5680E9 64.58%, #8860D0 97.4%);
}

.header-logo {
    position: fixed;
    width: 10.6667vh;
    height: 10.6667vh;
    left: 3.4375%;
    top: 0px;
}

.header-name {
    position: fixed;
    height: 9.6667vh;
    left: calc(3.4375vw + 10.6667vh);
    top: 0px;

    font-size: 8vh;
    line-height: 10.6667vh; /* Same percentage of _view height_ as overall height's percentage*/
}

.header-login {
    position: fixed;
    height: 4.7778vh;
    left: min(75.7813vw, calc(84.2188vw - 9.45vh), calc(100vw - 23.34vh));
    top: 0px;

    font-size: 4vh;
    line-height: 10.6667vh;
}

.header-signup {
    position: fixed;
    height: 4.7778vh;
    left: min(84.2188vw, calc(100vw - 13.89vh));
    top: 0px;
    white-space: nowrap;

    font-size: 4vh;
    line-height: 10.6667vh;
}

/* ================= BACKGROUND STYLES ============== */

.background-spot-1 {
    position: fixed;


background: #8860D0;
}