<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {% include 'components/links.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
        {% include 'components/background.html' %}
        {% include 'components/header.html' %}

        <h3>Request care for your pet:</h3>
        <form>
            <input type="submit" value="+ add listing">
        </form>
        <hr>

        <h3>Current listings:</h3>

        {% include 'components/footer.html' %}
    </body>
</html>