<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {% include 'components/links.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
        {% include 'components/header.html' %}

        <p>Explore our listings:</p>
        <form>
            <input type="text" value="Enter a town, state, or zip code" method="get">
        </form>
        <hr>

        <h3>Results:</h3>

        {% include 'components/background.html' %}
        {% include 'components/footer.html' %}
    </body>
</html>