<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {% include 'links.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>
    <body>
        {% include 'background.html' %}
        {% include 'header.html' %}
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        TESTING SCROLLING FUNCTIONALITY
        ====================<br>
        ====================<br>
        ====================<br>
        {% include 'footer.html' %}
    </body>
</html>