<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {% include 'components/links.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    </head>
    <body>
        {% include 'components/header.html' %}
        {% include 'components/background.html' %}

        <div class="content-container standard vertical" >
            <h4>
                    <a href="{{ url_for('home') }}"
                        class="regular-text">&lt; return home</a>
            </h4>
            <br>
            <br>
            <h3> Please confirm your email address before logging in. </h3>
            <h3 class = "big-button"> <a href = "{{ url_for('resend_confirmation', user_id = user.id)}}"> Re-send Verification </a> </h3>
        </div>
        {% include 'components/footer.html' %}
    </body>
</html>