<div class="header-placeholder">
    <!-- This is for relative positioning, so nothing can go at the top of the *page*  -->
</div>
<div class="header-bar">
    <div class="header-logo-name">
        <a href="{{ url_for('home') }}">
            <img class="header-logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo.png">
            <div class="header-name spot-font spot-heading">Spot</div>
        </a>
    </div>
    <div class="header-user-links">
        {% if not user: %}
        <img class="header-user-img" src="{{ url_for('static', filename='img/user.png') }}" alt="user.png">
        {% else: %}
        <div class="header-login spot-font spot-heading">
            <a class="regular-text" href="{{ url_for('login_form') }}">login</a>
        </div>
        <div class="header-signup spot-font spot-heading">
            <a class="regular-text" href="{{ url_for('register_form') }}">sign up</a>
        </div>
        {% endif %}
    </div>
</div>