<table class="listing-table">
    {% for i in range((listings|length + 1) // 2) %}
    <tr>
        <td>
            {% with listing=listings[2 * i] %}
                <a href="{{ url_for('listing_details', listing_id=listing.id ) }}">  
                    {% include 'components/listing.html' %}
                </a>
            {% endwith %}  
        </td>
        <td {% if not listings[2 * i + 1] %} class="transparent" {% endif %}>
            {% if listings[2 * i + 1] %}
            {% with listing=listings[2 * i + 1] %}
                <a href="{{ url_for('listing_details', listing_id=listing.id ) }}">  
                    {% include 'components/listing.html' %}
                </a>
            {% endwith %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>