<table class="listing-table">
    <tr>
        <td>
            <div class="listing-cell-container">
                <div class="portrait">
                    <div class="background">
                        <img class="cat" src="{{ url_for('static', filename='img/cat-blue.png') }}" alt="cat-blue.png">
                    </div>
                    <div class="pet-type">CAT</div>
                </div>
                <div class="description">
                    <div class="title">
                        Scruffy
                    </div>
                    <div class="info">
                        <strong>DAY(S):</strong> Hi
                        <br>
                        <strong>TIME:</strong> Hi
                        <br>
                        <strong>LOCATION:</strong> Hi
                        <br>
                        <strong>ACTIVITY:</strong> Hi
                        <br>
                        eee
                        <br>
                        ffff
                    </div>
                </div>
            </div>
        </td>
        <td>
            
        </td>
    </tr>
</table>