<table class="listing-table">
    {% for i in range((listings|length + 1) // 2) %}
    <tr>
        <td>
            {% with listing=listings[2 * i] %}
                {% include 'components/listing.html' %}
            {% endwith %}    
        </td>
        <td {% if not listings[2 * i + 1] %} class="transparent" {% endif %}>
            {% if listings[2 * i + 1] %}
            {% with listing=listings[2 * i + 1] %}
                {% include 'components/listing.html' %}
            {% endwith %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>