<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {% include 'components/links.html' %}
    </head>
    <body>
        {% include 'components/header.html' %}
        {% include 'components/background.html' %}

        <div class="content-container standard vertical">
            <h4>
                    <a href="{{ url_for('home') }}"
                        class="regular-text">&lt; return home</a>
            </h4>
            <br>
            <h3 class="no-margin-top no-margin-bottom"> Error: {{error}}  </h3>
            <img src = "{{ url_for('static', filename='img/error.png') }}" 
                class="error-img">
        </div>
        {% include 'components/footer.html' %}
    </body>
</html>