<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {% include 'components/links.html' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <script src="js/filter.js"></script>
    </head>
    <body>
        {% include 'components/header.html' %}
        {% include 'components/background.html' %}

        <div class="content-container standard vertical">
            <form class="listing-form">
            <table>
                <tr>
                    <td>
                        <h5>Explore our listings:  </h5>
                    </td>
                    <td>
                        <input type="text" class="filter" placeholder="Search by zip code" 
                        id="zip_code" name="zip_code">            
                    </td>
                </tr>
            </table>

        <div class="listing-form-container dropdown-container">     
            <dl class="dropdown"> 
  
                <dt>
                <a href="#">
                  <span class="hida">Pet Type(s)</span>    
                  <p class="multiSel"></p>  
                </a>
                </dt>
              
                <dd>
                    <div class="multiSelect">
                        <ul>
                            <li>
                                <input type="checkbox" value="dog" />Dog</li>
                            <li>
                                <input type="checkbox" value="cat" />Cat</li>
                            <li>
                                <input type="checkbox" value="rodent" />Rodent</li>
                            <li>
                                <input type="checkbox" value="fish" />Fish</li>
                            <li>
                                <input type="checkbox" value="reptile" />Reptile</li>
                            <li>
                                <input type="checkbox" value="amphibian" />Amphibian</li>
                            <li>
                                <input type="checkbox" value="other" />Other</li>
                        </ul>
                    </div>
                </dd>
              <button class="big-button">Filter</button>
            </dl>   
        </form>
        </div>
        <br><br>
        <h3>Results:</h3>
        {% with listings = listings, overlay = False %}
            {% include 'components/listing_table.html' %}
        {% endwith %}

        {% include 'components/footer.html' %}
    </body>
</html>