<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        {% include 'components/links.html' %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home_map.css') }}">
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
        <script src="{{ url_for('static', filename='js/home_map.js') }}"></script>
    </head>
    <body>
        {% include 'components/header.html' %}
        {% include 'components/background.html' %}

        <h4>
            <a href="{{ url_for('home') }}"
                class="regular-text">&lt; return home</a>
        </h4>
        <div id="map-view"></div>

        {% include 'components/footer.html' %}
    </body>
</html>